
/* google fonts style */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* * common style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* header banner style start */
.container {
    max-width: 1320px;
    margin: auto;
    padding: 2%;
}

.banner{
    width: 100%;
    background-color: #161616;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.banner-left {
    width: 50%;
    padding-left: 10%;
}
.banner-left h2{
    color: #DD0000;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.18em;
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.banner-title {
    font-size: 60px;
    color: #ffff;
}

.banner-text{
    color: #ffff;
    padding-bottom: 5%;
}

.banner-btn{
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    background-color: #DD0000;
    border-radius: 5px;
}
.banner-btn:hover{
    background-color: green;
    transition: all 0.5s ease;
}

.banner-right{
    width: 50%;
    padding: 4% 4% 0% 4%;
}
.banner-right> img{
    width: 100%;
}
/* header banner style end */


/* sidebar style start */

.container-2{
    display: flex;
    width: 100%;
}
.sidebar{
    width: 28%;
    height: 312px;
    padding: 2%;
    margin-right: 2%;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-menu{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    color: black;
    background-color: white;
    text-align: center;
    border: 1px solid #E8E8E8 ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.sidebar-menu:hover{
    color: white;
    background-color: green;
    transition: all 01s ease;
}
.active{
    color: white;
    border-style: none;
    background-color: #DD0000;
}
.active:hover{
    background-color: green;
    transition: all 0.5s ease;
}
/* sidebar style end */


/* blog-container style start */
.blog-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}
.blog{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0px 5px 13px rgb(0 0 0 / 15%);
}
.blog-banner> img {
    width: 100%;
}
.blog-text a{
    text-decoration: none;
    padding: 2px 15px;
    color: #161616;
    border: 1px solid black;
    border-radius: 5px;
}
.blog-text a:hover{
    color: white;
    background-color: green;
    transition: all 0.5s ease;
}
.blog-duration{
    display: flex;
    justify-content: space-between;
}
/* blog-container style end */

.extra-btn{
    display: none;
    width: 100%;
    text-align: center;
    margin: 3% 3%;
}
.extra-btn> a{
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    background-color: #DD0000;
}

/* footer style start */
.footer-container{
    max-width: 100%;
    margin: auto;
    background-color: #161616;
    overflow: hidden;
}

.footer-container> .footer-header> h2{
    font-size: 40px;
    color: white;
    padding: 5% 0% 3% 0%;
    text-align: center;
}
.footer-line{
    max-width: 80%;
    margin: 0 auto;
}
.footer-detail{
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
}
.footer-detail> a{
    font-size: 16px;
    text-decoration: none;
    color: #B9B9B9;
}
.footer-detail> a:hover{
    color: white;
    font-weight: 700;
}

.social{
    width: 100%;
    text-align: center;
}
.fa-facebook-square{
    margin: 1%;
    font-size: 40px;
}
.fa-linkedin{
    font-size: 40px;
    margin: 1%;
}
.fa-youtube{
    font-size: 40px;
    margin: 1%;
}
/* footer style end */


/* upcoming.html style  start */
 .match-container{
    width: 80%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3%;
    grid-row-gap:8%;
 }

 .match{
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 5px 13px rgb(0 0 0 / 15%)
 }
 .match:hover{
    border: 1px solid salmon;
 }
 .match-banner{
    margin: 10% 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 
 .match-detail> h3{
    text-align: center;
 }
 .match-detail> p{
    text-align: center;
    color: #4D4D4D ;
 }
 /* upcoming.html style end */


 /* media query style for mobile start */
@media only screen and (max-width:576px) {
    .container{
        max-width: 576px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-left, .banner-right {
        width: 100%;
    }
    .banner-animation{
        font-size: 20px;
        padding-top: 20px;

    }
    .banner-title{
        font-size: 40px;
    }
    .container-2{
        flex-direction: column;
    }
    .sidebar{
        width: 70%;
        background-color: white;
        margin: auto;
    }
    .blog-container{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-container{
        margin-top: 250px;
        flex-direction: column;
    }
    .footer-detail{
        flex-direction: column;
        align-items: center;
    }

} 
 /* media query style for mobile end */

 /* media query style for mobile start */
 @media only screen and (min-width:577px) and (max-width:768px) {
    .container{
        max-width: 768px;
    }
    .banner{
        width: 100%;
    }
    .banner-left{
        padding-left: 3%;
    }
    .banner-animation{
        font-size: 20px;
    }
    .banner-title{
        font-size: 40px;
        line-height: 50px;
    }

    .container-2{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        height: auto;
        background-color: white; 
        flex-direction: row;
        justify-content: space-evenly;
    }
    .blog-container{
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    .extra-btn{
        display: block ;
        margin-top: 50px;
    }
    .footer-container{
        margin-top: 100px;
    }
 }

 /* media query style for mobile end */